QDialog#fen_superviseur{background: rgb(58, 58, 58);}QGroupBox#GB_Connexion{color:rgb(255, 255, 255);}QPushButton#BTN_Connexion{background:rgb(94, 94, 94);color:rgb(255, 255, 255);}QPushButton#BTN_Connexion:hover{background:rgb(114, 140, 255);}QPushButton#BTN_Connexion:pressed{}QPushButton#BTN_Deconnexion{background:rgb(114, 140, 255);}QPushButton#BTN_Deconnexion:hover{background:rgb(94, 94, 94);}QPushButton#BTN_Deconnexion:pressed{}QGroupBox#GB_Contenu{color:rgb(114, 140, 255);}




